.cabeçalho{
    background-color: blue;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
}
.cabeçalho-imagem{
    width: 20%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 20%;
}
 
